$pure-white: #fff;
$dark: #000;
$dark-hover: #222;
$light-gray: #ddd;
$gray: #7e7e7e;
$gray2: #303030;
$green-color: #c76bb8e2;
$green-color-hover: #e784d7e2;



$image-color: linear-gradient(45deg, rgba(0, 0, 0, 0.543), rgba(0, 0, 0, 0.598));