$pure-white: #fff;
$dark: #000;
$dark-hover: #222;
$light-gray: #ddd;
$gray: #7e7e7e;
$gray2: #303030;
$pink-color: #d589b2;
$pink-color-hover: #eda8cd;



$image-color: linear-gradient(45deg, rgba(0, 0, 0, 0.543), rgba(0, 0, 0, 0.598));